<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
    <div class="container">
    <div class="row" style="margin-left: 400px;margin-top: 50px">

{##}
{#<form method='post'>#}
{#    {% csrf_token %} <table>#}
{#        <tr>#}
{#            {% for field in form %}#}
{#            <td>{{ field.label_tag }}</td>#}
{#            <td>{{ field }}</td>#}
{#            <td>{{ field.errors }}</td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#<td>#}
{#            <input type="submit" value="OK" class="btn btn-success">#}
{#    <a href="{% url 'add' %}"><b>New user? Register Here</b></a>#}
{#        </td>#}
{#    </table>#}
{##}
{#    </form>#}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="User_name">
        <br>
        <input name="Password" type="password">
        <input type="submit" value="ok">
    </form>
         </div>
    </div>
{% endblock %}